<div class="row airtop50">
    <div class="span3 infoblock orange rounded">
        <h3>Contact Sharing</h3>
        <p>BranchApps is de innovatieve online software ontwikkelaar en leverancier voor verschillende branches. </p>
    </div>
    <div class="span3 infoblock green offset1 rounded">
        <h3>CMS</h3>
        <p>BranchApps is de innovatieve online software ontwikkelaar en leverancier voor verschillende branches. </p>
    </div>
    <div class="span3 infoblock blue offset1 rounded">
        <h3>HRM</h3>
        <p>BranchApps is de innovatieve online software ontwikkelaar en leverancier voor verschillende branches. </p>
    </div>
    <div class="span3 infoblock purple offset1 rounded">
        <h3>Projecten</h3>
        <p>BranchApps is de innovatieve online software ontwikkelaar en leverancier voor verschillende branches. </p>
    </div>
</div>


