<div class="row airtop50">
    <a href="#!/sharedcontacts">
        <div class="span3 infoblock orange rounded">
            <h3>Shared contacts</h3>
            <p>Easily share your contacts with your co-workers right from your own Google Contacts interface.</p>
        </div>
    </a>
    <a href="#!/crm">
        <div class="span3 infoblock green offset1 rounded">
            <h3>CRM</h3>
            <p>Fully integrated CRM for Google Apps will be available soon.</p>
        </div>
    </a>
    <a href="#!/hrm">
        <div class="span3 infoblock blue offset1 rounded">
            <h3>HRM</h3>
            <p>Fully integrated HRM for Google Apps will be available soon.</p>
        </div>
    </a>
    <a href="#!/projects">
        <div class="span3 infoblock purple offset1 rounded">
            <h3>Projects and Timewriting</h3>
            <p>Fully integrated Projects and Timewriting for Google Apps will be available soon!</p>
        </div>
    </a>
</div>


