<div class="row hero">
    <div class="span7">
        <h1>Shared contacts <img class="headlogo" src="/static/img/appslogo.png"></h1>
        <p>Easily share contacts with domain users or Co-Workers right from
            your own Google Contacts manager!</p>
        <a href="#!/sharedcontacts">Read more &rarr;</a>
        <p>
       <div class="marketplace-button"> <a href="https://www.google.com/enterprise/marketplace/viewListing?productListingId=#######&utm_medium=button&utm_source=button-your-domain.com"> <img src="/static/img/marketplace-addtogoogleapps-noshadow.png"></a></div>
       <!--
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Kies een oplossing <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Gedeelde contacten</a></li>
                <li><a href="#">Customer relation management</a></li>
                <li><a href="#">Personeelsbeheer</a></li>
                <li class="divider"></li>
                <li><a href="#">Neem contact op met ons</a></li>
            </ul>
        </div>
        -->
        </p>
    </div>
    <div class="span4 offset1"><img src="/static/img/mac.png"></div>
</div>