<div class="row">
    <div class="span12">
        <h1 class="dark">Shared Contacts</h1>
        <div class="row">
            <div class="span8">
                <h3>Easily share your Google Contacts with your colleagues right from your own google contacts interface.</h3>
                <ul class="airtop10">
                    <li>Share your contacts with individual users or groups within your organisation</li>
                    <li>2-way near real-time sync</li>
                    <li>Give colleagues edit or just reading rights</li>
                    <li>Change your shared contact information right from your google contacts</li>
                    <li> Have always a backup of your shared contacts online</li>
                </ul>

                <h3>How does it work:</h3>
                <ul>
                    <li>Domain administrator add BranchApps Shared contacts to the domain</li>
                    <li>Domain administrator add a shared group and gives rights (read or edit) to people within the domain</li>
                    <li>People with Edit rights can add their contacts to the group wich will automatically be visible in de contacts of people who have read or edit rights</li>
                    <li>Changes to contact information can be done right from Google Contacts by the person who had edit rights and who is the owner of that specific contact person</li>
                </ul>

                <p>With the shared contacts app you can easily create shared groups to share your contacts within your domain.<p>

                <h3 class="airtop10">Google Apps reseller?</h3>

                <p>You can know <a href="#!/contact">contact us</a> for reseller opportunities</p>

                <h2 class="airtop10">Pricing</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Users</th>
                        <th>Groups</th>
                        <th>Contacts</th>
                        <th>Price/year</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>< 5</td>
                        <td>1</td>
                        <td>20</td>
                        <td>Free</td>
                    </tr>
                    <tr>
                        <td>< 50</td>
                        <td>Unlimited</td>
                        <td>2.500</td>
                        <td>&euro; 120,-</td>
                    </tr>
                    <tr>
                        <td>< 100</td>
                        <td>Unlimited</td>
                        <td>5.000</td>
                        <td>&euro; 180,-</td>
                    </tr>
                    <tr>
                        <td>< 200</td>
                        <td>Unlimited</td>
                        <td>10.000</td>
                        <td>&euro; 250,-</td>
                    </tr>
                    <tr>
                        <td>< 500</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td>&euro; 350,-</td>
                    </tr>
                    <tr>
                        <td>> 500</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td><a href="#!/contact">Contact us</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="span3 offset1">

                <p class="airtop10"><a class=" " data-toggle="modal" href="#screen1"><img src="/static/img/screenshot1.png" alt="screenshot1">Main screen</a></p>
                <p class="airtop10"><a class=" " data-toggle="modal" href="#screen1"><img src="/static/img/screenshot1.png" alt="screenshot1">Shot of another screen</a></p>
                <p class="airtop10"><a class=" " data-toggle="modal" href="#screen1"><img src="/static/img/screenshot1.png" alt="screenshot1">Another one?</a></p>
            </div>
        </div>
        <div class="modal hide fade" id="screen1">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Shared contacts main screen</h3>
            </div>
            <div class="modal-body">
                <p><img src="/static/img/screenshot1.png" alt="screenshot1"></p>
            </div>
            <div class="modal-footer">
                <a class="close btn" data-dismiss="modal" >Close</a>

            </div>
        </div>



    </div>
</div>