<div class="row">
    <div class="span12">
        <h1 class="dark">Support</h1>
        <p>You can find answers to your support questions in the community driven Branchapps Google Support group.
        If you can't find an answer, feel free to post a question.</p>
        <iframe id="forum_embed"
                src="javascript:void(0)"
                scrolling="no"
                frameborder="0"
                width="940"
                height="700">
        </iframe>
        <script type="text/javascript">
            document.getElementById('forum_embed').src =
                    'https://groups.google.com/forum/embed/?place=forum/branchapps'
                            + '&showsearch=true&showpopout=true&showtabs=true'
                            + '&parenturl=' + encodeURIComponent(window.location.href);
        </script>

    </div>
</div>