
body {
font-size:16px;
line-height:1.3em;
}

.logo {
margin-top:20px;
margin-bottom:10px;
}
.hero {
margin-bottom:30px;
}
.introduction {

}
.signup {
margin-top:20px;
}
.screen {
position:relative;
top:60px;
}
.big {font-size:12px; margin-right:2px; margin-left:2px;}

.label.crm {
  background-color: #8edf99;
}
.label.hrm {
  background-color: #26d5e0;
}
.label.contactsharing {
  background-color: #ff6d6d;
}
a[rel="popover"] { color:white;}

.services {

padding-top:10px;
background-color:#ff6d6d;
color:white;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.services h2 {
color:white;
}
