<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Branchapps. Google Apps solutions. HRM, CRM, Directory services</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/static/style/bootstrap.css" rel="stylesheet">
    <link href="/static/style/screen.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
	<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
	 <script src="/static/js/bootstrap-twipsy.js"></script>
	<script src="/static/js/bootstrap-popover.js"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Branchapps coming soon</a>
          <ul class="nav">
          
           
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      
          <div class="row hero">
		      <div class="span9">
		        <div class="logo"><img src="/static/images/logo.png" /></div>
				<div class="introduction">Etiam porta sem malesuada magna mollis euismod. 
					Integer posuere erat a ante venenatis  
					<span class="label crm big">
						 <a rel="popover" title="Branchapps CRM" data-placement="below" data-content="And here's some amazing content. It's very engaging. right?">CRM</a>
					</span> 
					<span class="label hrm big">
						 <a rel="popover" title="Branchapps HRM" data-placement="below" data-content="And here's some amazing content. It's very engaging. right?">HRM</a>
					</span> 
					<span class="label contactsharing big">
						 <a rel="popover" title="Branchapps Contact Sharing" data-placement="below" data-content="And here's some amazing content. It's very engaging. right?">Contact sharing</a>
					</span> dapibus posuere velit aliquet. 
					
					Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
					<div class="signup">
						<div class="clearfix">


                                        {% if error %}
                                        Please fill in a correct email adress.
                                        {% endif %}
                                        <form id="email" action="." method="POST">
                                            {% csrf_token %}
                                            <input class="span6" name="email" id="id_email" type="text" placeholder="{% if succes %}Dank je wel je hoort snel van ons!{% else %}Blijf op de hoogte, laat je email adres achter.{% endif %}" /> <a class="btn primary submit" href="#">Aanmelden &raquo;</a>
                                        </form>
                                        

						</div>
					</div>
					<script>
				            $(function () {
				              $("a[rel=popover]")
				                .popover({
				                  offset: 10
				                })
				                .click(function(e) {
				                  e.preventDefault()
				                })

				            })
                           $(".submit").click(function() {
                              $('#email').submit()
                         })
				          </script>
		      </div>
		      <div class="span5 offset1">
		        <div class="screen"><img src="/static/images/screen.png" /></div>
		      </div>
		</div>
     

    
      <div class="row services">
        <div class="span5">
          <h2>CRM</h2>
          <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          
        </div>
        <div class="span5">
          <h2>HRM</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          
       </div>
        <div class="span5">
          <h2>Contact Sharing</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          
        </div>
      </div>

      <footer>
        <p>&copy; Branchapps 2011.</p>
      </footer>

    </div> <!-- /container -->


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  </body>
</html>
