{% extends "base.html" %}


{% block workbar %}
<div id = "workbar">
	<div class="logo"><img src="{{ url_for('static', filename='img/wordlogo.png') }}" /></div>
	<div class="search"><input placeholder="Zoeken"></input><a class="button_normal" href="#zoek">Zoek</a></div>
	<div class="toolbar"><ol class="toolbar"><a href="#print"><li><img src="{{ url_for('static', filename='img/tb-print.png') }}" /></li></a><a href="#mail"><li><img src="{{ url_for('static', filename='img/tb-mail.png') }}" /></li></a></ol>
	</div>
</div>
</header>
{% endblock %}

{% block content %}



<div id="main" role="main">
<div class="l">
	
	<div class="l">
		<div class="commands">3 Contacts | <a href="#ownorg">Organisation</a>
			<div class="refresh_indicator"><img src="{{ url_for('static', filename='img/tb-refresh.png') }}" /></div>
		</div>
		<div class="selection">Met selectie: <a href="#verwijderen">Verwijderen</a>
			<ol>
				<li><input type="checkbox" /><a href="#">Marco Kotrotsos</a></li>
				<li><input type="checkbox" /><a href="#">Ernst-Jan van Gils</a></li>
				<li><input type="checkbox" /><a href="#">Wouter Hassing</a></li>
				
				</ol></div>
	</div>
</div>
<div class="m">
	<div class="startbysearching"><img src="{{ url_for('static', filename='img/startbysearching.png') }}" /></div>
    <div class="startbyselecting"><img src="{{ url_for('static', filename='img/startbyselecting.png') }}" /></div>
</div>
<div class="r">

	</div>

</div>
{% endblock %}